*{
    padding: 0;
    margin: 0;
}
header{
    background: url(./img/bg.png) no-repeat center top/cover;
    height: 840px;
    width: 100%;

}
.container{
    width: 960px;
    margin: 0 auto;    
}
.logo-main{
    padding-top: 65px;
}
.pingbull{
	height: 36px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	color: white;
	font-size: 48px;
	font-weight: 400;
	line-height: 34px;
	font-family: 'LeagueGothicRegular', Arial, sans-serif;
    float: left;
    text-transform: uppercase;
}
.er{
	height: 36px;
	color: #34263b;
	font-family: 'LeagueGothicRegular', Arial, sans-serif;
	font-size: 48px;
	font-weight: 400;
    line-height: 34px;
    text-transform: uppercase;
    color: purple;
}

nav{
    float: right;
}
.menu li{
    float: left;
    display: block;
    padding-right: 45px;
    list-style-type: none;
    text-transform: uppercase;
}
.menu li a{
    color: white;
}
li:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}





.img_slider {
	
 											
 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
 	height: 400px;
	margin-top: 174px;
}
.slider__larrow {
	float: left;
	width: 22px;
	height: 34px;
	
}

.slider__rarrow {
	float: right;
	width: 22px;
	height: 34px;
}

.slider__span {
	color: #fefefe;
	font-family: 'LeagueGothicRegular', Arial, sans-serif;
	font-size: 59px;
	font-weight: 400;
	line-height: 44px;
}
.slider__p1 {

	color: #edbfff;
	font-family: 'LeagueGothicRegular', Arial, sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 48px;
}
.slider__p2, 
.slider__p3 {

	color: white;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 23px;
}
.slider__text {
	float: left;
	padding-top: 85px;
	float: left;
	width: 520px;
}
.slider__p23 {
	margin-top: -2px;
}
.slider__img {
	padding-right: 7vw;
	float: right;
	margin-top: -16px;
	height: 400px;
}

.second{
	background-image: linear-gradient(to top, #322539 0%, #745083 100%);
	height: 338px;
	color: white;

}
h2{
	font-family: Italic;
}
.first_about{
	height: 215px;
    width: 33%;
    display: inline-block;
}
.second_about{
	height: 215px;
    width: 33%;
    display: inline-block;
}
.third_about{
	height: 215px;
    width: 33%;
    display: inline-block;
}
.title_sprite{
	display: flex;
	flex-direction: row;
}
.sprite_one{
	padding-right: 20px;
}	
.sprite_two{
	padding-right: 20px;
}
.sprite_three{
	padding-right: 20px;
}
.title_p{
	padding-left:  53px;
	margin-top: 6px;
    letter-spacing: -0.005em;
    line-height: 24px;
    text-shadow: 1px 1px 1px #000;
	max-height: 144px;
	width: 280px;
	font-weight: 200;
    
}
.all_about{
	padding-top: 70px;
}
.read_more{
		
	color: white;
	display: inline;
	text-transform: uppercase;
	font-size: large;
	font-weight: 400;
}
.read_more:hover{
	color: white;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
	text-decoration: none;
}
/* Third section */




.third_section{
	height: 600px;	
	background: #f9f9f9 no-repeat center top;
	


}	
.starts{
	background-color: white;
	width: 420px;
	padding: 20px;
	height: 270px;
	float: left;
}
.starts_here{
	color: purple;
}
.title__pingbuller-h2{
	text-transform: uppercase;
}
.updates{
	background: #f9f9f9 no-repeat center top;
	width: 420px;
	height: 270px;
	padding: 20px;
	float: right;
	margin-left: 100px;
		
}
.nunc_turpis{
	font-weight: bold;
}
.container_one{
	line-height: 12px;
}
.container_second{
	line-height: 12px;
}
.container_third{
	line-height: 12px;
}
.read_morehere{
	float: right;
	color: black;
	
	text-transform: uppercase;
	font-size: large;
	font-weight: bold;

}
.read_morehere:hover{
	color: black;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
	text-decoration: none;

}
.both_containers{
	display: flex;
	flex-direction: row;
	padding-top: 100px;
	padding-left: 30px;
	
}
.fourth__section{
	height: 118px;
	background: #f9f9f9 no-repeat center top;
}
.pictures__logos{
padding-left: 100px;
}
.five__section{
	height: 392px;
	background-color: #ececec;
}


.content2 {
	padding-top: 100px;
}
.img_lower {
	background: #ececec;
	width: 100%;	
	height: 396px;
}
.pigbull-lower {
	width: 102px;
	height: 36px;
	text-shadow: 0 1px 0 white;
	color: #454545;
	font-family: 'LeagueGothicRegular', Arial, sans-serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 34px;
	}
.er-lower {
	width: 29px;
	height: 36px;
	text-shadow: 0 1px 0 white;
	color: #b9b9b9;
	font-family: 'LeagueGothicRegular', Arial, sans-serif;
	font-size: 46px;
	font-weight: 400;
	line-height: 34px;
}
.pigbuller {
	float: left;
}
.copyrignt__p {

	padding-top: 15px;
	width: 206px;
	height: 15px;
	text-shadow: 0.5px 0.9px 0 white;
	color: #c5c5c5;
	font-family: Georgia, Arial, sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: 24px;
}
.pigbuller__p {
	-moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
	padding-top: 15px;
	width: 282px;
	height: 120px;
	text-shadow: 0.5px 0.9px 0 white;
	color: #787878;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	overflow: hidden;
}
.coments {
	padding-left: 53px;
	float: left;
}
.news {
	margin-left: 57px;
	float: left;
}
.coments .pigbuller__p,
.news .pigbuller__p{
	padding-top: 8px;
	height: 167px;
	padding-left: 2px;
}
.coments__span {

	width: 155px;
	height: 22px;
	text-shadow: 0.5px 0.9px 0 white;
	color: #454545;
	font-family: 'LeagueGothicRegular', Arial, sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	padding-left: 3px;
}
.news__span {
	width: 147px;
	height: 22px;
	text-shadow: 0.5px 0.9px 0 white;
	color: #454545;
	font-family: 'LeagueGothicRegular', Arial, sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	padding-left: 3px;
}
.hiden1,
.hiden2 {
	display: none;
}
/*FOOTER*/

footer {
	clear: both;
}
.img_footer {
	display: block;
	background: url(./img/footer_bg.jpg) no-repeat center top;
	height: 114px;
}
.lower {
	float: left;
	font-size: 19px;
	font-weight: 400;
	line-height: 34px;
}
.lower .menu__list:first-child {
	padding-left: 0px;
}
.lower .menu__list {
	padding-left: 46px;
}
.design {
	padding-top: 41px;
	float: right;
}
.design__by,
.design__pin {
	width: 137px;
	height: 13px;
	text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
	color: white;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 12px;
	line-height: 34px;
}
.design__by {
	padding-right: 3px;
	font-weight: 300;
}
.design__pin {
	font-weight: 700;
}
.lower {
	padding-top: 41px;
}